
    /* body {
    background-image: url("/imgs/brown-leather.jpg");
    background-repeat:no-repeat;
    background-position: center center;
    } */

   
    
    .body { font-family: "Waiting for the Sunrise"; font-size: 24px; font-style: normal; font-variant: normal;
        font-weight: 700; line-height: 26.4px; } 
    h3 { font-family: "Waiting for the Sunrise";
        font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } 
    p { font-family: "Waiting for the Sunrise"; font-size: 14px; font-style: normal; font-variant: normal;
        font-weight: 400; line-height: 20px; } 
    blockquote { font-family: "Waiting for the Sunrise";
        font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } 
    pre { font-family: "Waiting for the Sunrise"; font-size: 13px; font-style: normal; font-variant: normal;
        font-weight: 400; line-height: 18.5714px; }


        
    body {background-color: rgb(255,245,238);}
    .navbar { 
           background-color: rgb(188,143,143); 
       }  
    .navbar .navbar-brand, 
    .navbar-custom .navbar-text { 
           color: BLACK; 
       } 

    .clock {
        font-family: sans-serif;
        border: thin solid;
        border-radius: 10px;
        padding: 5px;
      }
        
