<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>
      {% block title %}{% endblock %}
    </title>

    {% block head %}{% endblock %}
    <link rel="stylesheet" href ="/static/styles.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-sm" data-toggle="collapse"> 
      <span class="navbar-text">
        Friends Directory: Stay  Connected,  not  Distracted
      </span>
      <ul class="navbar-nav ml-auto" data-toggle="collapse"> 
          <li class="nav-item"> 
              <a class="nav-link disabled" data-toggle="collapse" id= "logged" aria-hidden="true" href="/user-homepage"> 
                My Contacts 
              </a> 
          </li> 
          <li class="nav-item" data-toggle="collapse"> 
              <a class="nav-link disabled" id= "logged1" data-toggle="collapse" aria-hidden="true" href="/add-a-friend"> 
                Add a Friend 
              </a> 
          </li> 
          <li class="nav-item"> 
              <a class="nav-link disabled" id= "logged2" data-toggle="collapse" aria-hidden="true" href="/handle-logout"> 
                Log out
              </a> 
          </li> 
          <li class="nav-item"> 
            <a class="nav-link disabled" id= "logged3" data-toggle="collapse" aria-hidden="true" href="/map/basic"> 
              Map
            </a> 
        </li> 
      </ul> 
  </nav> 




    {% block body %}{% endblock %}
    <script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
  

  {% for msg in get_flashed_messages() %}
  <p class="flash-msg">
    {{ msg }}
  </p>
{% endfor %}

    {% block after_body %}{% endblock %}
  </body>

<script>

if ('{{navbar}}' == 'loggedin'){
  
$(document).ready(function () {
   
   $('#logged').removeClass('nav-link disabled');
   $('#logged').addClass('nav-link');
   $('#logged1').removeClass('nav-link disabled');
   $('#logged1').addClass('nav-link');
   $('#logged2').removeClass('nav-link disabled');
   $('#logged2').addClass('nav-link');
   $('#logged3').removeClass('nav-link disabled');
   $('#logged3').addClass('nav-link');

});
}


</script>
</html>