{% extends 'base.html' %}

{% block title %} Friend Profile {% endblock %}

{% block body %}



    <body class="homepage">
    <div  class="new" style="background-image:url('/static/white-background.png'); background-size:100%;" >
         <center><strong>
        
        
    <h1>This is {{ a_friend['ffname'] }}'s profile</h1>

    <em><img src="{{a_friend['portrait']}}" width=100></em><br><br>
    <em>Email: {{ a_friend['friend_email'] }}</em><br><br>
    <em>Notes:{{a_friend['friend_notes'] }}</em><br><br>
    <em>Phone Number:{{ a_friend['friend_number']}}</em><br><br>
    <em>Country: {{a_friend.location.country}}</em><br><br>

    </strong>

    <form id="form2" runat="server">
        <div id="resultContainer2">
        </div>
        <form id="form1" runat="server">
            <div id="resultContainer">
            </div>
            <form id="form1" runat="server">
                <div id="resultContainer3" src="">
            </form>
            
        </form>
    </form>

    </br>
    </div>

</center>
    <h2 class="leafy">Some news from {{ a_friend['ffname'] }}'s  neck of the woods</h2>
    <ul>
         {% for the_articles in news_get_1['articles'][0:3]%}

             <li>News Title: {{the_articles['title']}} </li>
        <li>News Title: <a href="{{the_articles['url']}}">Read Article</a> </li>
        <li>Description: {{the_articles['description']}} </li> 
           
                       <br>
                       {% endfor %}

        <br>

    </ul>
    
    </form>
    <form action="/delete-a-friend{{ a_friend['friend_id']}}" method="post" id="form1">
        <button type="submit" value="Submit">Delete Friend</button>
    </form>
</div>



</body>

</html>
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script src="/static/weatherAPI.js" type="text/javascript"></script>
<script type="text/javascript">


    var resultContainer = $('#resultContainer');
    var resultContainer2 = $('#resultContainer2');
    var output = '';

    const city = '{{a_friend.location.city}}'
    const country = '{{a_friend.location.country}}'

    $(document).ready(function () {

        $('#resultContainer').ready(GetLocalWeather(city));
        // $('#btnLocationSearchPremium').click(SearchLocation);
        $('#resultContainer2').ready(GetTimeZone(city));
        // $('#Past Weather').click(GetPastWeather);
        // $('#resultContainer3').ready(format_news(news));
        // $('#resultContainer3').removeClass('nav-link disabled');
        $('#resultContainer3').attr("src", icon)
    });

    //------------ LOCAL WEATHER ----------------

    function GetLocalWeather(my_city) {

        var localWeatherInput = {
            query: my_city,
            format: 'JSON',
            num_of_days: '1',
            date: '',
            fx: '',
            cc: '',
            tp: '',
            includelocation: '',
            show_comments: '',
            callback: 'LocalWeatherCallback'
        };
        console.log(localWeatherInput)
        console.log('===========================')
        JSONP_LocalWeather(localWeatherInput);
        // e.preventDefault();
    }

    function LocalWeatherCallback(localWeather) {
        output = "<br/> Cloud Cover: " + localWeather.data.current_condition[0].cloudcover;
        output += "<br/> Humidity: " + localWeather.data.current_condition[0].humidity;
        output += "<br/> Temp C: " + localWeather.data.current_condition[0].temp_C;
        output += "<br/> Visibility: " + localWeather.data.current_condition[0].weatherDesc[0].value;
        output += "<br/> Observation Time: " + localWeather.data.current_condition[0].observation_time;
        output += "<br/> Pressure: " + localWeather.data.current_condition[0].pressure;
        output += "<br/> <img src=" + localWeather.data.current_condition[0].weatherIconUrl[0].value + "></img>";
        // icon =  localWeather.data.current_condition[0].weatherIconUrl[0].value;

        // resultContainer.empty();
        resultContainer.html(output);
        console.log('===========================')
        console.log(output)
    }

    //-------------------------------------------

    //------------ SEARCH LOCATION ----------------

    function SearchLocation(e) {

        var searchLocationInput = {
            query: city,
            format: 'JSON',
            timezone: 'yes',
            popular: '',
            num_of_results: '',
            callback: 'SearchLocationCallback'
        };

        JSONP_SearchLocation(searchLocationInput);
        e.preventDefault();
    }

    function SearchLocationCallback(searchLocation) {

        output = "<br/> Area Name: " + locationSearch.search_API.result[0].areaName[0].value;
        output += "<br/> Country: " + locationSearch.search_API.result[0].country[0].value;
        output += "<br/> Latitude: " + locationSearch.search_API.result[0].latitude;
        output += "<br/> Longitude: " + locationSearch.search_API.result[0].longitude;
        output += "<br/> Population: " + locationSearch.search_API.result[0].population;
        output += "<br/> Region: " + locationSearch.search_API.result[0].region[0].value;

        // resultContainer.empty();
        resultContainer.html(output);

    }

    //-------------------------------------------

    //------------ TIME ZONE ----------------

    function GetTimeZone(my_city) {

        var timeZoneInput = {
            query: my_city,
            format: 'JSON',
            callback: 'TimeZoneCallback'
        };

        JSONP_TimeZone(timeZoneInput);
        // e.preventDefault();
    }

    function TimeZoneCallback(timeZone) {

        output = "<br/> Local Time: " + timeZone.data.time_zone[0].localtime;
        output += "<br/> Time Offset: " + timeZone.data.time_zone[0].utcOffset;

        // resultContainer.empty();
        resultContainer2.html(output);

    }



    //------------ PAST WEATHER ----------------

    function GetPastWeather(e) {

        var pastWeatherInput = {
            query: city,
            format: 'JSON',
            enddate: '2012-03-03',
            date: '2012-03-01',
            extra: '',
            includelocation: '',
            show_comments: '',
            callback: 'PastWeatherCallback'
        };

        JSONP_PastWeather(pastWeatherInput);
        e.preventDefault();
    }

    function PastWeatherCallback(pastWeather) {

        output = "<br/> Date: " + pastWeather.data.weather[0].date;
        output += "<br/> Max Temp(C): " + pastWeather.data.weather[0].maxtempC;
        output += "<br/> Max Temp(F): " + pastWeather.data.weather[0].maxtempF;
        output += "<br/> Min Temp(C): " + pastWeather.data.weather[0].mintempC;
        output += "<br/> Min Temp(F): " + pastWeather.data.weather[0].mintempF;
        output += "<br/> Cloud Cover: " + pastWeather.data.weather[0].hourly[0].cloudcover;

        resultContainer.empty();
        resultContainer.html(output);

    }


</script>



{% endblock %}