{% extends 'base.html' %}
{% block title %}Friends Directory{% endblock %}

{% block body %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJgFNAB7Lo3rSxZuGlQ2B_dCmahsTXsW4&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
    <style type="text/css">
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }

      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script>
      // This example adds a marker to indicate the position of Bondi Beach in Sydney,
      // Australia.
      
      function initMap() {
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 2.27,
          center: { lat: 32, lng: 7 },
        });
     
        const image =
          "https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png";
        
        const jslocation = {{location_list | tojson}};
        const jsfriends = {{list_friends | tojson}};

        for (city of jsfriends){
        for (i of jslocation){
        if (city == i.city){
        let x = i.lat
        let y= i.lng
        const beachMarker = new google.maps.Marker({
          position: { lat: x, lng: y },
          map,
          icon: image,
        });
    }
    }
}
}

      
      
    </script>
  </head>
  <body>
    <div id="map"></div>
  
  
{% endblock %}