{% extends 'base.html' %}
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
{% block title %}Friends Directory{% endblock %}

{% block body %}

<body class= "homepage2">
  <!-- <div class="container">
  <img src="static\open_notebook.png" alt="Snow" style="width:100%;"> -->

  <!-- </div> -->

  <div class="parent-container d-flex">
    <div class="container-fluid">

      <div class="d-flex justify-content-center h-100">

        <div class="card1">
          <div class="card-header">
            <h3 style="font-style: oblique; font-family: serif; font-size:300%; text-align:center;" >My Contacts</h3>
            <p name="friends">
              {% if not paginate_list_friend.items %}
              <div class="d-flex justify-content-center h-100">
                <center><em> <br>
                  Looks like you haven't added any friends yet!
                  <br>
                  <br>
                <input type="submit" value="Friend"  class="btn float-center login_btn" onclick="window.location.href='/add-a-friend';">
                </em>
              </center>
                <!-- <div class="container"> -->
                </div>
                 
             
              {% endif %}

               {% for friend in paginate_list_friend.items %}

              <ul>
                <strong>Name: <a href="/all-friends/{{friend['friend_id']}}">{{friend['ffname']}}</a></strong>
              </ul>
              <ul>
                email: {{friend['friend_email']}}
              </ul>
              <ul>
                country: {{friend.location.country}}
              </ul>
              <ul>
                city: {{friend.location.city}}
              </ul>
              <ul>
                {% for con in continents %}
                {%if con['city'] == friend.location['city'] %}

                <p> <span class="clock" data-timezone="{{con['timezone']}}"></span></p>
            
              </ul>
              {% endif %}
              {% endfor %}

              <br>


               {% endfor %}
            </p>

            <p>

            </p>

            </p>
          </div>
        </div>
      </div>
    </div>


    <p>

    </p>

    </p>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div class= lowerleft>
  {% for page_num in paginate_list_friend.iter_pages(left_edge=2, right_edge=2,
      left_current=2, right_current=2) %} {% if page_num %} {% if paginate_list_friend.page ==
      page_num %}
      <a href="{{url_for('.friends_list', page=page_num)}}">{{ page_num }}</a>

      {% else %}
      <a href="{{url_for('.friends_list', page=page_num)}}">{{ page_num }}</a>
      {% endif %} {% else %} ... {% endif %} {% endfor %}
</div>
</body>
<script src="/static/weatherAPI.js" type="text/javascript"></script>
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script>

  const clocks = document.getElementsByClassName("clock");

  function updateClocks() {
    for (let clock of clocks) {
      let timezone = clock.dataset.timezone;
      let time = new Date().toLocaleTimeString("en-US", {
        hour: '2-digit',
        minute: '2-digit',
        second: '2-digit',
        timeZone: timezone
      });
      clock.textContent = time;
    }
  }

  // Update every minute:
  setInterval(updateClocks, 1000);
  updateClocks();







</script>

{% endblock %}